

html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--- Navbar Start ---*/
.navbar{

}
.navbar .navbar-brand{
	width: 150px;
}
.navbar .nav-item .nav-link{
	margin-left: 15px;
}

.navbar .nav-item .nav-link:hover{
	color: orange;
	transition: .6s;
}

#btn-signin{
	border: 1px solid orange;
	background-color: orange;
	color: white;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 5px;
}

#btn-signin:hover{
	background-color: transparent;
	color: orange;
	transition: .6s;
}
.navbar .dropdown .dropdown-menu{
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 0;
}
.navbar .dropdown:hover .dropdown-menu{
	display: block!important;
}
.navbar .dropdown .dropdown-menu .dropdown-item{
	padding-top: 6px;
	padding-bottom: 6px;
}
.navbar .dropdown .dropdown-menu .dropdown-item:hover{
	background-color: orange;
	color: white;
	transition: .6s;
}

.navbar form input:focus{
	border: none!important;
	outline: none!important;
}
/*--- Navbar End ---*/


/*--- Sidebar Start ---*/
.sidebar{
	border: 1px solid #F5F3F2;
	padding: 20px 20px;
}

.sidebar h6{
	border-bottom: 1px solid #FFE0CD;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 15px;
}
.sidebar .form-check label{
	font-size: 16px;
}

/*--- Sidebar End ---*/


/* Slider Start --*/
.slider-area .carousel-inner{
	width: 100%;
	height: 60vh;
}
.slider-area .carousel-inner .carousel-item{
	width: 100%;
	height: 100%;
}
.slider-area .carousel-inner .carousel-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.carousel-indicators button{
	width: 17px!important;
	height: 17px!important;
	border-radius: 50%;
}
.carousel-indicators button.active{
	background-color: orange;
}
/* Slider End --*/



/*--- Main Content Start ---*/
.main-content {
	/*overflow-x: hidden;*/
}
.main-content .card{
	padding: 0px!important;
	overflow: hidden;
	margin-bottom: 15px;
	border-color: #F5F3F2;
	border-radius: 0;
}
.main-content .card:hover{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition: .6s;
}
.main-content .card:hover img{
	transform: scale(1.1);
	transition: .6s;
}
.main-content .card img{
	width: 180px;
	height: 180px;
	margin: auto;
}
.main-content .card .card-body .card-title{
	margin: 0;
}
.main-content .card .card-body .card-title a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.main-content .card .card-body .rating span i{
	color: orange;
	font-size: 14px;
}
.main-content .card .card-body p{
	margin: 0;
}
.main-content .card .card-body a{
	font-size: 16px;
}
.main-content .card .card-body a:hover{
	background-color: transparent;
	border-color: orange;
	color: orange;
	transition: .6s;
}


/* Pagination Start */
.pagination .page-item .page-link{
	font-size: 16px;
	color: black;
}
.pagination .page-item .page-link:hover{
	background-color: orange;
	border-color: orange;
	color: white;
	transition: .6s;
}
.pagination .page-item .page-link.active{
	background-color: orange;
	color: white;
	border-color: orange;
}
/* Pagination End */

/* Testimonial Start */
.testimonial-area{

}
.testimonial-area .t-box{
	border: 1px solid #FEDCA7;
	padding: 20px 15px;
	border-radius: 4px;
	margin-right: 10px;
}
.testimonial-area .t-box .photo{
	width: 110px;
	height: 110px;
	border: 2px solid orange;
	border-radius: 50%;
	position: relative;
}
.testimonial-area .t-box .photo img{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.testimonial-area .t-box h4{
	margin: 0;
	padding: 0;
}
.testimonial-area .t-box i{
	font-size: 40px;
	color: #FEDCA7;
}
.testimonial-area .t-box .rating i{
	font-size: 14px;
	color: orange;
}
.testimonial-area .t-box hr{
	border-color: #FEDCA7;
}
.testimonial-area .t-box p{
	text-align: justify;
}
/* Testimonial End */

.slick-prev::before{
	color: orange!important;
}

.slick-next::before{
	color: orange!important;
	margin-left: -35px!important;
}
.slick-slider {
    margin: 0 -15px;
}
.slick-slide {
    margin-right: 5px;
    margin-left: 5px;
    z-index: 99;
}
.slick-dots li button:before {
    font-size: 10px;
    margin-top: 10px;
}

.slick-dots li.slick-active button:before {
    color: orange;
    outline: 1px solid orange;
    outline: 10px 0px 0px 0px !important;
    border-radius: 50%;
}

.slick-dots li button:hover:before {
    color: orange;
}


/* Product Cart Offcanvas Start */
.offcanvas .offcanvas-body .product-photo{
	width: 80px;
	height: 80px;
	border: 1px solid orange;
	position: relative;
}
.offcanvas .offcanvas-body .product-photo img{
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.offcanvas .offcanvas-body a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.offcanvas .offcanvas-body a:hover{
	color: orange;
	text-decoration: underline;
	transition: .6s;
}
.offcanvas .offcanvas-body button{
	background-color: transparent;
	border: none;
}
.offcanvas .offcanvas-body button:hover{
	color: orange;
	transition: .6s;
}

.offcanvas .offcanvas-body .btn-area a:hover{
	text-decoration: none;
	color: white; 
	transition: .6s;
}
/* Product Cart Offcanvas End */



/*--- Main Content End ---*/


/*--- Breadcrumb Start ---*/
.breadcrumb-area{
	width: 100%;
	height: 40vh;
	background-image: url('../../assets/images/slider/slider-3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .8;
}
.breadcrumb .breadcrumb-item a{
	color: orange;
}
.breadcrumb i{
	color: orange;
	font-size: 14px;
	margin-top: 2px;
	padding: 0px 8px;
}
.breadcrumb .breadcrumb-item.active{
	color: white;
}
/*--- Breadcrumb End ---*/


/*--- Contact form Start ---*/
.contact-form form input{
	padding: 12px 12px 12px 12px;
	border-radius: 0px;
}
.contact-form form textarea{
	border-radius: 0px;
}
.g-map{
	width: 100%;
	height: 300px;
	position: relative;
}
.g-map iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}
/*--- Contact form End ---*/


/*--- Cart Start ---*/
.cart-table table thead th{
	background-color: orange;
}
.cart-table table tr td{
	font-size: 16px;
}
.cart-table table tr td button{
	border: none;
	background-color: transparent;
}
.cart-table table tr td button:hover{
	color: orange;
}
/*--- Cart End ---*/



/*--- SignIn Start ---*/
.siginIn-form h4{
	background-color: orange;
	color: white;
}
.siginIn-form .card .card-body{
	padding: 40px 20px;
}
.siginIn-form .card .card-body .input-group-text{
	background-color: orange;
	color: white;
}
.siginIn-form .card .card-body form input{
	padding-top: 10px;
	padding-bottom: 10px;
}
#signIn-btn{
	background-color: orange;
	color: white;
}
.siginIn-form .card .card-body form a{
	font-size: 14px;
}
.siginIn-form .card .card-body .signUp span{
	text-decoration: none;
	font-size: 16px!important;
	font-weight: bold;
	display: block;
	text-align: center;
	color: #7B7C7C;
}
.siginIn-form .card .card-body .signUp a{
	text-decoration: none;
	font-size: 16px!important;
	font-weight: bold;
	display: block;
	text-align: center;
}
.siginIn-form .card .card-body .signUp a:hover{
	text-decoration: underline;
}


/*--- SignIn End ---*/



/*--- Footer Start ---*/
footer{
	background-color: #272625;
	padding: 50px 25px;
}
footer .f-title{
	margin-bottom: 20px;
}
footer .f-title h5{
	color: white;
}
footer ul{
	margin: 0;
	padding: 0;
}
footer ul li{
	color: white;
	line-height: 32px;
	color: #AEAEAE;
}
footer ul li span i{
	color: orange;
}
footer ul li a{
	text-decoration: none;
	color: #AEAEAE;
}
footer ul li a:hover{
	color: white;
	transition: .6s;
}
footer span{
	color: #AEAEAE;
}


footer .social-link .icon{
	width: 25px; 
	height: 25px;
	position: relative;
}
footer .social-link .icon i{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
}

#facebook{
	background-color: #316FF6; 
}
#youtube{
	background-color: #CD201F; 
}
#pinterest{
	background-color: #E60023;
}
#instagram{
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

footer .logo{
	width: 100%;
	height: 30px;
	background-color: white;
	position: relative;
}
footer .logo img{
	position: absolute;
	width: 80%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer .copyright{
	border-top: 1px solid #5D5D5D;
	padding-top: 15px;
}
/*--- Footer End ---*/